/* .nav-bar{
    display: flex;
    gap: 30px;
    float: right;
    font-size: 40px;
    margin-top: 30px;
}
img{
    height: 100px;
}


.main-div{
    display: grid;
    grid-template-columns: repeat(3,20%);
}

.card{
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    
}
/* .card1{
    grid-column-start: 2;
    grid-row: 100px;
    background-color: rgb(101, 95, 107);
}
.card2{
    grid-column-start: 3;
    background-color: rgb(101, 95, 107);

}
.card3{
    grid-column-start: 1;
    background-color: rgb(101, 95, 107);

}
.card4{
    grid-column-start: 4;
    background-color: rgb(101, 95, 107);

}
.card5{
    grid-column-start: 2;
    background-color: rgb(101, 95, 107);

}
.card6  {
    grid-column-start: 3;
    background-color: rgb(101, 95, 107);

} */

.flex{
    width: 30%;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.flex-container{
display: flex;
flex-direction: row;
}

.box1{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    z-index: 1;
    
}
.box2{
    width: 150px;
    height: 150px;
    position: relative;
    background-color: yellow;
}

.btn{
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: blue;
}
.btn:active{
    background-color: pink;
}
body{
    background-image: url(https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Virat%20Anushka.JPG?itok=V7TG_vNw);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width : 320px) and (max-width:480px){
    .main-div-btn{
        display: flex;
        gap: 20px;
        flex-direction: column;

    }
    .btn{
        background-color: green;

    }
}
@media screen and (min-width:480px) and (max-width  : 1000px){
    .main-div-btn{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .btn{
        background-color: red;

    }
}

.box1{
    /* width: 100px;
    margin-top: 20px;
    animation-name: rotate;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    /* animation-timing-function: ease-in-out; */
  /* transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1)  */ */

}
.box1:hover{
    width: 200px;
}
/* @keyframes rotate {
  0%{
    background-color: red;
  }
  25%{
    background-color: rgb(225, 201, 41);

  }
  50%{
    background-color: rgb(47, 73, 111);
  }
  75%{
    background-color: rgb(182, 7, 173);
  }
  100%{
    background-color: rgb(210, 18, 76);

  }
} */
p{
    font-family: 'Delicious Handrawn', cursive;
}
.box1{
    width: 100px;
    margin-top: 20px;
    animation-name: rotating;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes rotating{
    0%{
        width: 100px;
    }
    25%{
        width: 400px;
    }
} */