body{
    background-color: black;
}

.page-heading{
    color: black;
    background-color:chartreuse;
    text-align: center;
}
h3{
    color:black;
    background-color: aqua;
    text-align: center;
}

P{
    color:white;
}

pre{
    color: dodgerblue;
    font-size:15px
}