.main-nav{
    position: sticky;
    top: 0;
    /* z-index: 1; */
}

.navbar{
    display: flex;
    float: right;
    
    background-color: rgb(229, 219, 239);
}
.nav-btn{
    margin-right: 100px;
    padding: 30px;
}
img{
    /* margin-top: 15px; */
    background-color:rgb(229, 219, 239) ;
    height: 100px;
}
/* ----------------------------------------------------- */

.box1{
    width: 300px;
    height: 300px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes rotate{
    0%{left:0px ; top:0px}
    25%{left:300px ; top:0px}
    50%{left:300px ; top:300px}
    75%{left: 0px; top:300px}
    100%{left: 0px; top:0px}
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(207, 197, 217);
  animation:  circle 5s infinite;
}
@keyframes circle{
    25%{transform: rotate(180deg);}
    50%{transform: rotate(360deg);}
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(230, 230, 111);
    transition:  width 2s;
   
}
.box3:hover{
    width: 400px;
}
.form{
    border: 2px solid gray;
    width: fit-content;
    padding: 30px;
    background-color: rgb(174, 172, 176);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.info{
    display: block;
    margin: 10px;
}
label{
    display: block;
}
.parent{
  display: flex;
  gap: 30px;
  flex-direction: row;

}
.child-div{
    width: 200px;
    height: 100px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(136, 122, 122);
}
@media screen and (min-width:320px) and (max-width:480px){
    .parent{
        display: flex;
        flex-direction: column;
    }
}


button{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(90, 90, 239);
}
@media screen and (min-width:320px) and (max-width:480px){
    .btn-parent{
        display: block;

    }
    button{
        background-color: green;
        margin-top: 20px;
    }
}
@media screen and (min-width:480px) and (max-width:800px){
    .btn-parent{
        display: flex;
        flex-direction: column;

    }
    button{
        background-color: red;
        margin-top: 20px;
    }
}

.card{
    border: 1px solid black;
    height: 300px;
    width: 500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80);
}
.btn-hideen{
    padding: 10px;
    background-color: yellow;
    font-weight: bold;
    display: none;
}
@media screen and (min-width:320px) and (max-width:480px){
    .btn-hideen{
        background-color: pink;
        display: block;
    }
}
.grid{
    background-color: red;
    border: 1px solid black;
padding: 15px 10px;

}
.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
#item1{
    grid-row: 1/3;
}
#item1{
    grid-column: 1/4;
}

p{
    background-color: yellow;
}

