#box_1{
    border: 10px solid;
    border-color: #305F72;
    width: 350px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    padding: 20px 70px;
    margin: auto;
    border-radius: 10px;
    text-shadow: 0 0 3px black, 0 0 5px #4D5E72;
    box-shadow: 10px 10px 20px;
    background-color: #F1E6C1;
    margin-bottom: 20px;
}

body{
    background:linear-gradient(to bottom, #305F72  , #F2CC8C  , #F1E6C1  , #3F6A8A  , #4D5E72)
}
#main_div1{
    border: 10px  solid black;
   
}
#main_box1{
    display: flex;
}
#main_box2{
    display: flex;
}

#box_2{
    border: 10px solid #305F72;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    font-size: 25px;
    margin-right: auto;
    box-shadow: 10px 10px  20px;
    
    text-shadow: 0 0 3px black, 0 0 5px #4D5E72;
    background-color: #F1E6C1 ;
}
#box_3{
    border: 10px solid #305F72;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    font-size: 25px;
    position: relative;
    right: 60px;
    box-shadow: 10px 10px 20px ;
    text-shadow: 0 0 3px black, 0 0 5px #4D5E72;
    background-color: #F1E6C1;
}
#box_4{
    border: 10px solid #305F72;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    font-size: 25px;
    margin-right: auto;
    box-shadow: 10px 10px 20px;
    text-shadow: 0 0 3px black, 0 0 5px #4D5E72;
    margin-bottom: 50px;
    background-color: #F1E6C1;
}
#box_5{
    border: 10px solid #305F72;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    font-size: 25px;
    position: relative;
    right: 60px;
    box-shadow: 10px 10px 20px ;
    text-shadow: 0 0 3px black, 0 0 5px #4D5E72;
    margin-bottom: 50px;
    background-color: #F1E6C1;
}
#fixed{
    display: flex;
    border: 10px solid #4D5E72;
    font-weight: bold;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 10px black;
    background-color: #F1E6C1;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    
}
p{
    text-align: center;
}
#text_1{
    margin-right: 40px;
}
#main_div2{
    background-color: #F1E6C1;
    border: 10px solid black;
    width: 50%;
    margin: auto;
    padding: 10px;
}
h1,h2{
    text-align: center;
    padding: 10px 10px 10px 10px;
}
#tag_1{
    font-style: italic;
    font-weight: bold;

}
#tag_2{
    background-color: aqua;
    width: 49%;
    display: inline-block;
    background-color: #305F72;
   padding-bottom: 20px;
}
#tag_3{
    background-color: aqua;
    width: 49%;
    background-color: #305F72;
    float: right;
    
}
#tag_4{
    background-color: aqua;
    width: 100%;
    position: relative;
    left: 10px;
    background-color: #305F72;
}