#box_1 {
  border: 5px solid;
  color: white;
  border-color: black;
  border-radius: 20px;
  background-color:#3E5151;
  width: 300px;
  padding: 18px 10px;
  margin: 50px;
  font-style: italic;
  font-size: 30px;
  text-align: center;

}

#box_2 {
  border: 5px solid;
  color: white;
  border-color: black;
  border-radius: 50px;
  background-color: #3E5151;
  width: 400px;
  margin: auto;
  padding: 20px 30px 0px 30px;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  position: relative;
  left: -250px;
  top:-38px;
  }
  #box_3{
    border: 5px solid;
    color: white;
    border-color: black;
    border-radius: 50px;
    background-color: #3E5151;
    width: 300px;
    padding:15px 60px 0px;
    margin: 50px;
    font-style: italic;
  font-size: 25px;
  text-align: center;

  }



#box {
  display: flex;
}

#circle {
  border: 5px solid;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  text-align: center;
  /* padding: 075px; */
  margin: 0 150px 0 50px;
  text-align: center;
  justify-content:center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  background: linear-gradient(to left, #3E5151, #DECBA4)
  


}

#form {
  border: 5px dashed;
  border-radius: 5px;
  width: 400px;
  justify-content: space-between;
  
  border:linear-gradient( to TOP,#3E5151,#DECBA4)
  
  

}

#form_data {
  text-align: center;
  padding: 0px
}

#flex_2 {
  display: flex;
  margin: 50px;
  align-items: center;



}

#menu {
  border: 5px solid black ;
  text-align: center;
  width: 400px;
  border-radius: 40px;
  color: white;
  background-color: #3E5151;
  margin: auto;
  
}

.menu_card {
  border: 5px solid orangered;
  border-radius: 50px;
  width: 400px;
  height: 300px;
  text-align: center;
  padding: 10px;
  margin: 40px;
  background-color: #DECBA4;
  border-color:#141919;

}

#flex_3 {
  display: flex;

}


.menu_card_2 {
  border: 5px solid;
  border-radius: 40px;
  width: 400px;
  height: 300px;
  text-align: center;
  padding: 10px;
  margin: 40px;
  background-color: #DECBA4;
  border-color:black;

}


#flex_4 {
  display: flex;

}