body {
    background-color: #F7F7F7;
    position: relative;
}


.heading-2nd-word-color {
    color: #00A5EC;
  
}

.page-heading{
    padding-left: 139px;
    padding-top: 10px;
    border: 1px solid white;
    box-shadow: 0 20px 30px #7B7B7B29;
    height: 60px;
    background-color: white;
}

.new-task-icon{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: end;
    grid-column-start: 3;

    

}

.trip-to-paris-link{
    text-decoration: none;
}

.icon{
    color: #00A5EC;
    font-size: 50px;
}

.new_task-text{
    margin-left: 10px;
    font-size: 25px;
}

.main-page-cards{
    display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 30px 30px;
 margin-top: 50px;
 margin-left: 140px;
 margin-right: 140px;
}

.cards{
    border: 1px solid ;
    height: 360px;
    border-radius: 10px;
    text-decoration:none;
    background-color: #FFFFFF;
    border-color:#EDEDED ;
    box-shadow:0 0 10px ;
}
.card1:hover{
  grid-column-start: 1;
}

.card2{
    grid-column-start: 2;
}

.card3{
    grid-column-start: 3;
}

.card4{
    grid-column-start: 1;
  height: 360px;
}

.card5{
    grid-column-start: 2;
  margin-bottom: 412px;
}

.cards-heading{
    color: #00A5EC;
    font-size: 25px;
    padding-left: 20px;
}

.input-lable{
    font-size: 25px;
    padding-left: 20px;
    text-decoration: line-through;
    color: #C2C2C2;
}

.input-lable2{
    font-size: 25px;
    color: #424242;
    padding-left: 20px;
}

.checkbox-lable1{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    accent-color: #C2C2C2;

    
}

.cards input[type="checkbox"]:before {
    background-color:#F7F7F7 !important;
    color: white;
}

@media screen and (min-width: 320px) and (max-width:480px) {
    .main-page-cards{display: block;

    }
    .cards{
        margin-bottom: 40px;
        width: 100%;
    }
}



/* PAGE-2 CSS */

.background-blur{
    background:  0% 0% no-repeat padding-box;
opacity: 0.6;
filter : blur(3px);
height: 100vh;
overflow: hidden;
background-color: #F7F7F7;


}

.add-new-task-close{
    margin-left: auto;
    margin-right: 15px;
}

.page_2 {
   
    width: 30%;
    border: 1px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
  
    bottom: 50;
    bottom: 50vh;
    background-color: #FFFFFF;
    border-color: #EDEDED;
    transform: traslateY(50%);
    transform: translate(-50%, 50%);
    left: 50vw;
}


.xmark-icon{
    color: #858585;
    opacity: 100%;
  

}

.main-hading{
    margin-left: 20px;
    color: #404040;
    display: flex
    ;
}

.text-area{
    width:80%;
    padding: 7px;
   display: flex;
   border-radius: 5px;
   margin-left: auto;
   margin-right: auto;
   background-color: #EDEDED;
}

.task-button {
    margin-bottom: 20px;
    padding-left: 20px;
    width: 30%;
    background-color: #00A5EC;
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: none;
}

.task-button-icon{
    padding-right: 10px;
    font-size: 30px;
    color: white;
    background-color: #00A5EC;
}

/* PAGE-3 CSS */

.page3-icons{
    display: flex;
    align-items: center;
  
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.add-new-task-icon{
    margin-left: auto;
}

.font1{
    font-size:35px; 
    color: black;
   
}

.font1-text{
    font-size: 21px;
    color: #424242;
    margin-left: 10px;
}

.font2{
    font-size:40px ;
    color:#00A5EC ;
}

.font2-text{
    font-size: 26px;
    color: #424242;
    margin-left: 10px;
}

.page3-card{
    border: 1px solid ;
    border-radius: 10px;
    text-decoration:none;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-color: #EDEDED;
    box-shadow: 0px 0px 20px;
}

.card-headindg{
    text-align: center;
    color: #00A5EC;
    font-size: 29px;
}

/* PAGE-4 CSS */
    
.page-4{
    width: 30%;
    border: 1px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;



}

