body{
    
    background-image: url(./shara\ desert.jpg);

    padding: 0 150px;
}

.header{
    display: flex;
    height: 60px;
    align-items: center;
}

.header-nav-section{
    
    margin-left: auto;
    display: flex;
    gap: 20px; 
}

.header-nav-section li{
   
    color: white;
}

.header-bar-icon{
    color: aliceblue;
    margin-left: 40px;

}
.header-logo{
    height: 45px; 
}

.page-heading{
    font-size: 72px;
    color: white;
    margin: 0;
}

.page-info{
    color: white;
    margin-top: 10px;
    margin-bottom: 0s;
}

.explore-button{
    background-color: white;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 32px;
}

.main-page-container{
    display: grid;
    grid-template-columns: 2fr 200px 200px;
    align-items: center;
    margin-top: 20px;
    grid-gap: 60px;
}

.grid-img{
    width:200px;
    border-radius: 20px;   
}

.top-left1{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 10px;
    color: white;
}

.top-left2{
    position: absolute; 
    bottom: 150px;
    left:16px ;
    font-size: 10px;
    color: white;
}

.top-left3{
    position: absolute; 
    bottom: 150px;
    left:16px ;
    font-size: 10px;
    color: white;

}

.top-left4{
    position: absolute; 
    top: 8px;
    right:16px ;
    font-size: 10px;
    color: white;
}

.first-col-image-section ,.second-col-image-section, img:hover{
    transform: translateY(-10px);
    
}




.grid-img:nth-child(2){
    margin-top: 20px;
   
    
}

@media screen and (max-width: 991px) {
    .main-page-container{
        display: block;
    }
    .grid-img{
        
        display: block;
        height: 250px;
        margin-top: 35px;
    }
    .grid-img:nth-child(2){
        margin-top: 35px;
    }
    .top-left1{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 10px;
        color: white;
    }
    .top-left2{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    }
    .top-left3{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    
    }
    
    .top-left4{
        position: absolute; 
        top: 8px;
        right:16px ;
        font-size: 10px;
        color: white;
    }
    
}


@media screen and (max-width: 991px) and (min-width: 576px) {
    
    .grid-img{
        width: 100%;
    }
    body{
        padding: 0 90px;
    }
    .top-left1{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 10px;
        color: white;
    }
    .top-left2{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    }
    .top-left3{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    
    }
    
    .top-left4{
        position: absolute; 
        top: 8px;
        right:16px ;
        font-size: 10px;
        color: white;
    }
    
    
    
}

@media screen and (max-width: 575px) {
    body{
        padding: 0 40px;
    }
    .grid-img{
        margin-left: auto;
        margin-right: auto;
    }
    .top-left1{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 10px;
        color: white;
    }
    .top-left2{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    }
    .top-left3{
        position: absolute; 
        bottom: 150px;
        left:16px ;
        font-size: 10px;
        color: white;
    
    }
    
    .top-left4{
        position: absolute; 
        top: 8px;
        right:16px ;
        font-size: 10px;
        color: white;
    }
    
}




